head { background-color: #ffffff;
  color: #333333;
}
body { background-color: #ffffff;
  color: #333333;
}
table { border-width: 0px;
	empty-cells: hide;
}
table.formsection, table.sortable, table.ui_table, table.loginform {
  border-collapse: collapse;
  border: 2px solid #aaaacc;
  width:98%;
  margin: 4px;
}
table.loginform {width:40%}
tr.row0 {background-color:#e8e8ea;}
tr.row1 {background-color:#f8f8fa;}
a:link { color: #333399;
  text-decoration: none;
}
a:hover, a:visited:hover { color: #6666EE;
  text-decoration: none;
}
a:visited { color: #333399;
  text-decoration: none;
}
body, p, td, br, center { font-size: 10pt;
  font-family: sans-serif;
}
title { color: #333333;
  font-family: sans-serif;
}
h1 { color: #333333;
  font-size: 150%;
  font-family: sans-serif;
}
h2 { color: #333333;
  font-size: 130%;
  font-family: sans-serif;
}
h3 { color: #333333;
  font-size: 125%;
  font-family: sans-serif;
}   
h4 { color: #333333;
  font-size: 120%;
  font-family: sans-serif;
} 
th { font-size: small; }
pre { font-size: 8pt; }
#main { border-style: solid;
	border-color: #ccccff;
	border-width: 2px;
	background-color: #e8e8ea;
  margin: 4px;
}
tr.mainsel { background-color: #ddffbb; }
tr.mainhigh { background-color: #ffffbb; }
tr.mainhighsel { background-color: #bbffcc; }
.itemhidden {
  display: none;
  position:relative;
}
.itemshown table {
  margin-left:15px;
  position:relative;
}
.itemshown img { position:relative;}
.barchart { padding: 1px;
  border: 1px solid #b3b6b0;
  position:relative;
}
.ui_post_header{ font-size: 120%;
 text-align: center;
 padding: 4px;
}
hr { border: 0;
  width: 90%;
  height: 1px;
  color: #D9D9D9;
  background-color: #D9D9D9;
}
