div#mode {
  position: absolute;
  left: 5px;
  top: 5px;
}

div#linkwithicon {
  position: relative;
	white-space: nowrap;
  left: 4px;
  width: 20px;
	padding-top: 2px;
}

div#leftlink {
  position: relative;
  left: 4px;
	right: 4px;
	padding-top: 2px;
}

div#linkindented {
  position: relative;
  left: 26px;
  padding-top: 2px;
}

div#aftericon {
	position: relative;
	display: inline;
	left: 2px;
	top: 0px;
	padding-top: 2px;
}

div#domainmenu {
	white-space: nowrap;
	position: relative;
  left: 4px;
	padding-top: 2px;
}

